$yellow: #FFE800;
$brown: #404040;
$blue: #1CD3F8;
$angle: 8px;
angle-o: 4px;

html, body {
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.login {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: #FFE800;
  
  text-transform: uppercase;
  color: $brown;
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 #404040;;
  text-decoration: none;
  
  &:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #404040;;
    
    &::after {
      top: 1px;
      left: -2px;
      width: angle-o;
      height: angle-o;
    }
    
    &::before {
      bottom: -2px;
      right: 1px;
      width: angle-o;
      height: angle-o;
    }
  }
  
  &::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #404040;;
    transform: rotate(45deg);
    z-index: -1;
    
  }
  
  &::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #404040;
    transform: rotate(45deg);
    z-index: -1;
  }
}

a.login { position: relative; }

a:active.login {
  top: 6px;
  left: -6px;
  box-shadow: none;
  
  &:before {
    bottom: 1px;
    right: 1px;
  }
  
  &:after {
    top: 1px;
    left: 1px;
  }
}





.wrapper {
	text-align: center;
	
	color: #fff;
	font-size: 90px;
	font-family: "ubuntu";
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 1.5s linear infinite;
	display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}